h1{text-align: center;
font-family: 'Times New Roman', Times, serif;}

html{background-color: paleturquoise;}

grid-container{font-family: 'Times New Roman', Times, serif;}

html{
    text-align: center;
}